.login-pane-title{
    -fx-font-family: sans-serif;
    -fx-text-align: center;
    -fx-font-size: 22pt;
}

.login-pane-labels{
    -fx-font-family: sans-serif;
    -fx-text-align: left; 
    -fx-font-size: 12pt; 
}

.login-pane-buttons{
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
    -fx-padding: 5px;
}

.checkout-pane-combobox{
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
}

.checkout-pane-search-button{
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
    -fx-padding: 5px;
}

.checkout-pane-select-button{
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
    -fx-padding: 5px;
}

.checkout-pane-remove-button{
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
    -fx-padding: 5px;
}

.checkout-pane-confirm-button{
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
    -fx-padding: 5px;
}

.checkout-pane-check-button{
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
    -fx-padding: 5px;
}

.checkout-pane-label-price{
    -fx-font-family: sans-serif;
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

.table-view-header{
    -fx-font-family: sans-serif;
    -fx-font-size: 10pt;
}